{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='post-detail.css') }}">
{% endblock stylesheets %}


{% block content_center %}
<div class="col-md-7 main-column pr-0 pl-0">
    <div class="nav-back">
        <span class="nav-back-span-icon">
            <a href="{{ request.referrer }}" class="nav-back-span-a">
                <i class="fas fa-arrow-left"></i>
            </a>
        </span>
        <span class="nav-back-span-text">
            Post
        </span>
    </div>
    <div class="my-post">
        <article class="media">
            <span class="author-img-sm-span">
                <a href="{{ url_for('users.profile', username=post.author.user.username) }}">
                    <img class="rounded-circle author-img-sm"
                        src="{{ url_for('static', filename='profile_imgs/' + post.author.image) }}">
                </a>
            </span>

            <div class="media-body">
                <a class="author-name-bg" href="{{ url_for('users.profile', username=post.author.user.username) }}">
                    {{ post.author.user.username }}
                </a>

                {% if post.location %}
                <div>
                    <small class="post-metadata-text">
                        <i class="fa fa-globe-americas" aria-hidden="true"></i>
                    </small>
                    <a class="post-metadata-text" target="_blank"
                        href="https://www.google.pl/maps/place/{{ post.location }}">
                        <small>
                            {{ post.location }}
                        </small>
                    </a>
                </div>
                {% endif %}
            </div>

            {% if current_user.profile == post.author %}
            <div class="dropdown">
                <a class="link-hover" data-toggle="dropdown">
                    <i class="fa fa-chevron-down dark-icon" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu my-drop-menu">
                    <a class="dropdown-item my-drop-menu-item"
                        href="{{ url_for('social.post_update', post_id=post.id) }}">Edit</a>
                    <span class="my-drop-menu-item-span">
                        <a class="my-drop-menu-item dropdown-item edit-post link-hover" data-id="">
                            Edit Modal
                        </a>
                    </span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item my-drop-menu-item"
                        href="{{ url_for('social.post_delete', post_id=post.id) }}">Delete</a>
                    <span class="my-drop-menu-item-span">
                        <a class="dropdown-item delete-post link-hover my-drop-menu-item" data-id="">
                            Delete Modal
                        </a>
                    </span>
                </div>
            </div>
            {% endif %}
        </article>
        <article class="media">
            <div class="media-body">
                <p class="article-content post-detail-content">
                    {#{{ post.content|render_tags_and_links }} #}
                    {{ post.content|render_tags_and_links }}
                    {{ post.content }}
                </p>
                {% if post.image %}
                <!-- TODO Fix all sizes of imgs -->
                <img class="post-detail-image" src="{{ url_for('static', filename='posts_imgs/' + post.image) }}">
                {% endif %}

                <div class="post-metadata-text post-metadata-date">
                    {{ post.date_posted.strftime('%I:%M %p · %b %d, %Y') }}
                </div>
                <div class="my-horizontal-bar post-metadata-date"></div>
                <div class="justify-div">
                    <div>
                        {% set has_commented = has_user_commented(post.id) %}
                        <a id="post-comment-{{post.id}}"
                            href="{{ url_for('social.post_detail', post_id=post.id) }}#comments"
                            class="col-sec mr-2 post-detail-likes-panel {% if has_commented %}commented{% else %}comment{% endif %}"
                            onmouseover="$('#' + this.id).addClass('hvr-icon-wobble-horizontal');"
                            onmouseout="$('#' + this.id).removeClass('hvr-icon-wobble-horizontal');">
                            <i class="far fa-comment hvr-icon"></i>
                            <small>{{ post.comments|length }}</small>
                        </a>
                    </div>
                    <div>
                        {#<a id="post-like-{{post.id}}" href="javascript:void(0);"
                            class="post-detail-likes-panel {% if user.profile in post.likes.all %}liked{% else %}heart{% endif %}"
                            onclick="send_like(event, '{{post.pk}}', '{{user.pk}}', this.id, '{{ csrf_token }}');"
                            onmouseover="$('#' + this.id).addClass('hvr-icon-pulse-shrink');"
                            onmouseout="$('#' + this.id).removeClass('hvr-icon-pulse-shrink');">
                            <i class="far fa-heart hvr-icon"></i>
                            <small id="post-likes-count">{{ post.likes.all.count }}</small>
                        </a>#}
                        <a id="post-like-{{post.id}}" href="javascript:void(0);" class="post-detail-likes-panel heart"
                            onclick="send_like(event, '{{post.pk}}', '{{current_user.pk}}', this.id, '{{ csrf_token }}');"
                            onmouseover="$('#' + this.id).addClass('hvr-icon-pulse-shrink');"
                            onmouseout="$('#' + this.id).removeClass('hvr-icon-pulse-shrink');">
                            <i class="far fa-heart hvr-icon"></i>
                            {# <small id="post-likes-count">{{ post.likes.all.count }}</small> #}
                            <small id="post-likes-count">{{ 0 }}</small>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="my-horizontal-bar"></div>
    <div id="comments">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mb-0">
                <legend class="border-bottom mb-2">Comments</legend>
                <div class="form-group">
                    {# {{ form.content.label(class="form-control-label") }} #}

                    {% if form.content.errors %}
                    {{ form.content(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.content(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="align-right">
                <div class="form-group mr-2 mb-2" style="display: inline-block;">
                    <a class="create-comment link-hover btn purple-btn">Replay modal</a>
                </div>
                <div class="form-group mb-2" style="display: inline-block;">
                    {{ form.submit(class="btn purple-btn") }}
                </div>
            </div>
        </form>
        <div class="my-horizontal-bar mb-2"></div>
        {% for comment in post.comments|sort(attribute='date_commented', reverse=True) %}
        <div class="post-detail-comment">
            <article class="media">
                <span class="comment-author-img-sm-span">
                    <a href="{{ url_for('users.profile', username=post.author.user.username) }}">
                        <img class="rounded-circle author-img-sm"
                            src="{{ url_for('static', filename='profile_imgs/' + comment.author.image) }}">
                    </a>
                </span>
                <div class="media-body">
                    <div>
                        <a class="author-name-sm mr-1"
                            href="{{ url_for('users.profile', username=post.author.user.username) }}">
                            {{ comment.author.user.username }}
                        </a>
                        <span class="dimmed-metadata-text">
                            &raquo;
                        </span>
                        <span class="dimmed-metadata-text ml-1">
                            <small>
                                {{ comment.date_commented|time_since_date_posted }}
                            </small>
                        </span>

                        {% if current_user.profile == post.author or current_user.profile == comment.author %}
                        <div class="float-right">
                            {# 
                            <a class="delete-comment link-hover" data-id="{% url 'comment-delete-modal' comment.pk %}">
                                <i class="fas fa-times dark-icon "></i>
                            </a>
                            #}
                            <a class="delete-comment link-hover"
                                href="{{ url_for('social.comment_delete', post_id=post.id, comment_id=comment.id) }}">
                                <i class="fas fa-times dark-icon "></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="comment-content">
                        <p class="article-content normal-text-content">
                            {{ comment.content|render_tags_and_links }}
                        </p>
                    </div>
                </div>
            </article>
        </div>
        {% else %}
        <div class="content-center" style="margin-top: 32px;">
            <p>No comments yet.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content_center %}