{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='followers.css') }}">
{% endblock stylesheets %}

{% block content_center %}
<div class="modal fade" id="followedModal" tabindex="-1" role="dialog" aria-labelledby="followedModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content my-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Follows:</h5>
                <a class="delete-comment link-hover" data-dismiss="modal">
                    <i class="fas fa-times light-icon "></i>
                </a>
            </div>
            <div class="modal-body">
                {% for follow in profile.followed.all() %}
                <div class="follower-borders">
                    <article class="media">
                        <span class="follower-img-sm-span">
                            <a href="{{ url_for('users.profile', username=follow.user.username) }}">
                                <img class="rounded-circle follower-img-sm"
                                    src="{{ url_for('static', filename='profiles_imgs/' + follow.image) }}">
                            </a>
                        </span>
                        <div class="media-body">
                            <div class="ml-2">
                                <h2 class="account-heading">
                                    <a class="follower-author-name"
                                        href="{{ url_for('users.profile', username=follow.user.username) }}">
                                        {{ follow.user.username }}
                                    </a>
                                </h2>
                            </div>
                        </div>
                        <div class="pt-2 pl-2 mr-2">
                            {% if current_user.is_authenticated and current_user.profile != follow %}
                            <div>
                                {% set is_following = is_already_following(current_user.profile.id, follow.id) %}

                                {% if is_following %}
                                <a id="followed-btn-modal-{{follow.id}}" class="link-hover btn purple-btn-outline-modal"
                                    onclick="follow_user(event, '{{current_user.profile.id}}', '{{follow.id}}', true, this.id);">Following</a>
                                {% else %}
                                <a id="followed-btn-modal-{{follow.id}}" class="link-hover btn purple-btn"
                                    onclick="follow_user(event, '{{current_user.profile.id}}', '{{follow.id}}', true, this.id);">Follow</a>
                                {% endif %}
                                </a>
                            </div>
                            {% endif %}
                            </a>
                        </div>
                    </article>
                </div>
                {% else %}
                <div class="content-center" style="margin-top: 24px; margin-bottom: 24px;">
                    <p class="mb-0">No follows.</p>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" onClick="window.location.reload();"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="followersModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content my-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Followed by:</h5>
                <a class="delete-comment link-hover" data-dismiss="modal">
                    <i class="fas fa-times light-icon "></i>
                </a>
            </div>
            <div class="modal-body">
                {% for follow in profile.followers.all() %}
                <div class="follower-borders">
                    <article class="media">
                        <span class="follower-img-sm-span">
                            <a href="{{ url_for('users.profile', username=follow.user.username) }}">
                                <img class="rounded-circle follower-img-sm"
                                    src="{{ url_for('static', filename='profiles_imgs/' + follow.image) }}">
                            </a>
                        </span>
                        <div class="media-body">
                            <div class="pt-1">
                                <h2 class="account-heading">
                                    <a class="follower-author-name"
                                        href="{{ url_for('users.profile', username=follow.user.username) }}">
                                        {{ follow.user.username }}
                                    </a>
                                </h2>
                            </div>
                        </div>
                        <div class="pt-2 pl-2 mr-2">
                            {% if current_user.is_authenticated and current_user.profile != follow %}
                            <div>
                                {% set is_following = is_already_following(current_user.profile.id, follow.id) %}

                                {% if is_following %}
                                <a id="followers-btn-modal-{{follow.id}}"
                                    class="link-hover btn purple-btn-outline-modal"
                                    onclick="follow_user(event, '{{current_user.profile.id}}', '{{follow.id}}', true, this.id);">Following</a>
                                {% else %}
                                <a id="followers-btn-modal-{{follow.id}}" class="link-hover btn purple-btn"
                                    onclick="follow_user(event, '{{current_user.profile.id}}', '{{follow.id}}', true, this.id);">Follow</a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </article>
                </div>
                {% else %}
                <div class="content-center" style="margin-top: 24px; margin-bottom: 24px;">
                    <p class="mb-0">No followers.</p>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" onClick="window.location.reload();"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-7 main-column pt-0 pl-0 pr-0">
    <div class="nav-back">
        <span class="nav-back-span-icon">
            <a href="{{ request.referrer }}" class="nav-back-span-a">
                <i class="fas fa-arrow-left"></i>
            </a>
        </span>
        <span class="nav-back-span-text">
            {{ profile.user.username }}
        </span>
    </div>
    <div class="pl-3 pr-3 mt-2">
        <div class="media my-media">
            <img class="profile-img" src="{{ url_for('static', filename='profiles_imgs/' + profile.image) }}">
            {% if current_user.profile == profile %}
            <div>
                <div class="dropdown my-dropdown">
                    <a class="link-hover" data-toggle="dropdown">
                        <i class="fas fa-cog dark-icon"></i>
                    </a>
                    <div class="dropdown-menu my-drop-menu">
                        <span class="my-drop-menu-item-span">
                            <a class="my-drop-menu-item dropdown-item change-email link-hover"
                                href="{{ url_for('users.email_update', username=current_user.username) }}">
                                Change email
                            </a>
                        </span>
                        <span class="my-drop-menu-item-span">
                            <a class="my-drop-menu-item dropdown-item "
                                href="{{ url_for('users.password_change', username=current_user.username) }}">
                                Change password
                            </a>
                        </span>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-divider"></div>
                        <span class="my-drop-menu-item-span">
                            <a class="my-drop-menu-item dropdown-item "
                                href="{{ url_for('users.delete_account', username=current_user.username) }}">
                                Delete an account
                            </a>
                        </span>
                    </div>
                </div>
                <div class="edit-profile-button">
                    <a class="edit-profile link-hover btn purple-btn"
                        href="{{ url_for('users.edit_profile', username=current_user.username) }}">Edit
                        profile</a>
                </div>
            </div>
            {% endif %}

            {% if current_user.is_authenticated and current_user.profile != profile %}
            <div>
                {% set is_following = is_already_following(current_user.profile.id, profile.id) %}

                {% if is_following %}
                <a id="follow-btn" class="link-hover btn purple-btn-outline"
                    onclick="follow_user(event, '{{current_user.profile.id}}', '{{profile.id}}', false, this.id);">Following</a>
                {% else %}
                <a id="follow-btn" class="link-hover btn purple-btn"
                    onclick="follow_user(event, '{{current_user.profile.id}}', '{{profile.id}}', false, this.id);">Follow</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="media-body mt-2 mb-2">
            <div class="row">
                <div class="col-2">
                    <h2 class="account-heading"> {{ profile.user.username }}</h2>
                </div>
                <div class="col-10 content-center">
                    <div class="mr-0 ml-0 row content-evenly" style="width: 100%;">
                        <div>
                            <a href="#posts" class="no-decoration">
                                <span class="main-text-bold">{{ profile.posts|length }}</span>
                                <span class="secondary-text"><small> posts</small></span>
                            </a>
                        </div>
                        <div class="no-decoration link-hover">
                            <a class="followers" data-toggle="modal" data-target="#followersModal">
                                <span id='followers-count' class="main-text-bold">{{ profile.followers.count() }}</span>
                                <span class="secondary-text"><small> followers</small></span>
                            </a>
                        </div>
                        <div class="no-decoration link-hover">
                            <a class="following" data-toggle="modal" data-target="#followedModal">
                                <span id='following-count' class="main-text-bold">{{ profile.followed.count() }}</span>
                                <span class="secondary-text"><small> following</small></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <p class="mb-1">{{ profile.bio|render_tags_and_links }}</p>

            <div class="row content-between mr-0 ml-0 mb-0 mt-2">
                {% if profile.city %}
                <div class="row secondary-text ml-0 ">
                    <i class="fas fa-map-marker-alt icon-position"></i>
                    <a class="no-decoration mb-0" href="https://www.google.pl/maps/place/{{ profile.city }}"
                        target="_blank">
                        {{ profile.city }}
                    </a>
                </div>
                {% else %}
                <div></div>
                <div></div>
                {% endif %}
                {% if profile.website %}
                <div class="row secondary-text ml-0">
                    <i class="fas fa-link icon-position"></i>
                    <p class="mb-0">
                        {{ profile.website|render_links }}
                    </p>
                </div>
                {% else %}
                <div></div>
                {% endif %}
                <div class="row secondary-text mr-0 ml-0">
                    <i class="fas fa-calendar-alt icon-position"></i>
                    <p class="mb-0">Joined {{ profile.user.date_joined.strftime('%B %Y') }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="my-horizontal-bar"></div>

    <div id="posts"></div>
    {% for post in posts|sort(attribute='date_posted', reverse=True) %}
    <div onclick="location.href='/post/{{ post.id }}/';" style="cursor: pointer; "
        onmouseover="this.getElementsByClassName('my-post')[0].style.backgroundColor = '#15181c';"
        onmouseout=" this.getElementsByClassName('my-post')[0].style.backgroundColor='black';">
        <article class="media my-post">
            <a href="{{ url_for('users.profile', username=post.author.user.username) }}">
                <img class="rounded-circle post-author-img"
                    src="{{ url_for('static', filename='profiles_imgs/' + post.author.image) }}">
            </a>
            <div class="media-body">
                <div class="post-metadata">
                    <a class="post-author-name"
                        href="{{ url_for('users.profile', username=post.author.user.username) }}">
                        {{ post.author.user.username }}
                    </a>
                    <span class="post-metadata-text ml-1 mr-1"> · </span>
                    {% if post.location %}
                    <span class="post-metadata-text no-decoration">
                        <a target="_blank"
                            onclick="openInNewTab(event, 'https:\/\/www.google.pl/maps/place/{{ post.location }}');">
                            {{ post.location }}
                        </a>
                    </span>
                    <span class="post-metadata-text ml-1 mr-1"> · </span>
                    {% endif %}

                    <span class="post-metadata-text">
                        {{ post.date_posted|time_since_date_posted }}
                    </span>

                    {% if current_user.profile == post.author %}
                    <span class="dropdown" style="float: right;">
                        <a class="link-hover dropdown-arrow" data-toggle="dropdown" id="post{{post.id}}"
                            onclick="stopPropagationForGivenPost(event, this.id);">
                            <i class="fa fa-chevron-down dark-icon" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu my-drop-menu">
                            <a class="dropdown-item my-drop-menu-item"
                                href="{{ url_for('social.post_update', post_id=post.id) }}">Edit</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item my-drop-menu-item"
                                href="{{ url_for('social.post_delete', post_id=post.id) }}">Delete</a>
                            <span class="my-drop-menu-item-span">
                                <a id="post_id_{{post.id}}"
                                    class="dropdown-item delete-post link-hover my-drop-menu-item" data-id="{{post.id}}"
                                    data-toggle="modal" data-target="#deletePostModal"
                                    onclick="delete_comment_or_post(this, event, 'post');">
                                    Delete Modal
                                </a>
                            </span>
                        </div>
                    </span>
                    {% endif %}
                </div>

                <p class="article-content post-content">
                    {{ post.content|render_tags_and_links }}
                </p>

                {% if post.image %}
                <img class="post-image" src="{{ url_for('static', filename='posts_imgs/' + post.image) }}">
                {% endif %}

                <div class="post-likes-panel">
                    <div class="align-right">
                        <div class="row">
                            <div>
                                {% set has_commented = has_user_commented(post.id) %}
                                <a id="post-comment-{{post.id}}"
                                    href="{{ url_for('social.post_detail', post_id=post.id) }}#comments"
                                    class="col-sec mr-2 post-detail-likes-panel {% if has_commented %}commented{% else %}comment{% endif %}"
                                    onmouseover="$('#' + this.id).addClass('hvr-icon-wobble-horizontal');"
                                    onmouseout="$('#' + this.id).removeClass('hvr-icon-wobble-horizontal');">
                                    <i class="far fa-comment hvr-icon"></i>
                                    <small>{{ post.comments|length }}</small>
                                </a>
                            </div>
                            <div>
                                <a id="post-like-{{post.id}}" href="javascript:void(0);"
                                    class="post-detail-likes-panel {% if current_user.profile in post.likes %}liked{% else %}heart{% endif %}"
                                    onclick="send_like(event, '{{post.id}}', '{{current_user.profile.id}}', this.id);"
                                    onmouseover="$('#' + this.id).addClass('hvr-icon-pulse-shrink');"
                                    onmouseout="$('#' + this.id).removeClass('hvr-icon-pulse-shrink');">
                                    <i class="far fa-heart hvr-icon"></i>
                                    <small id="post-likes-count">{{ post.likes|length }}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="my-horizontal-bar"></div>
    {% else %}
    <div class="content-center" style="margin-top: 32px; margin-bottom: 32px;">
        <p class="mb-0">User has no posts.</p>
    </div>
    {% endfor %}
</div>
{% endblock content_center %}