{% extends "base.html.j2" %}

{% block content %}
<div class="col-sm-6 offset-sm-3 mt-3">
    <div class=block-content>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-3 pb-1">Reset Password</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div clas="invalid-feedback">

                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}

                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group text-center mb-2">
                <div class="form-group mb-1">
                    {{ form.submit(class="btn btn-dark") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}